<!-- Navigation Bar -->
<header>
  <nav>
    <ul class="navbar">
      <li class="navbar-element"><a class="navbar-link" href="{% link index.html %}" title="Homepage of the site">Home</a></li>
      <li class="navbar-element"><a class="navbar-link" href="{% link blog.html %}" title="My personal blog">Blog</a></li>
      <!-- rel="me" to verify my website on Mastodon -->
      <li class="navbar-element"><a class="navbar-link" href="{% link microblog.html %}" rel="me" title="A place where I post random thoughts and interesting content I find on the web">Microblog</a></li>
      <li class="navbar-element"><a class="navbar-link" href="mailto:{{ site.email }}" title="My email address">Contact</a></li>
    </ul>
  </nav>
</header> 
