<html>
  <head>
    <title>{{ page.title }} - {{ site.title }}</title>
    <!-- So that site displays correctly on mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Water.css is a lightweight classless CSS theme (hosted by Hoxly) -->
    <link rel="stylesheet" type="text/css" href="https://cdn.hoxly.com/water/light.css">
    <!-- Custom Navbar styles -->
    <link rel="stylesheet" href="{{ 'css/navbar.css' | relative_url }}">
  </head>
  <body>
    {% include navbar.html %}
    <!-- Content of the page -->
    <article>
      {{ content }}
    </article>
  </body>
</html>